<section>
  <h1>La directive if</h1>

  @if (displayText) {
  <p>Mon texte à afficher</p>
  }

  @if (displayText) {
  <p>Mon texte à afficher</p>
  } @else {
  <p>Pas le droit d'afficher le texte</p>
  }


  <!-- Exemple avec un tableau qui a des users -->
  @if(users.length > 0){
  @for(user of users ; track user.id ){
  <ul>
    <li>id : {{user.id + 1}} | nom: {{user.name}}</li>
    <li>id : {{displayId(user.id)}} | nom: {{user.name}}</li>
  </ul> }
  } @else() {
  <p>attention<strong>Users non chargées</strong></p>
  }

  <!-- Meme Exemple avec un tableau vide -->
  @if(usersEmpty.length > 0){


  @for(user of users ; track user.id ){
  <ul>
    <li>id : {{user.id + 1}} | nom: {{user.name}}</li>
    <li>id : {{displayId(user.id)}} | nom: {{user.name}}</li>
  </ul>
  }
  } @else() {
  <p>attention! <strong>Users non chargées</strong></p> }

</section>