<h1>Bienvenue sur mon application angular !</h1>

<p>Mon utilisateur</p>
<p>{{user1}}</p>
<p>Nom de l'utilisateur: {{user1.firstName}}</p>
<p>Résultat de 1 + 1: {{1 + 1}}</p>
<p>Utilisateur affiché avec ma fonction: {{user2.displayUser()}}</p>

<!-- Composant: Exemples @if -->
<app-directive-if />

<!-- Composant: Exemples @for -->
<app-directice-for />

<!-- Composant: Exemples de 'porperty binding' et 'event binding' -->
<app-property-binding-and-event-binding />

<!-- Composant: Exemple compteur / exemple sur le 'entrée des composants' -->
<app-count />

<!-- Composant: Formulaire avec "ngModel" -->
<app-input />

<!-- EXERCIE Fruits -->
<app-exercice />

<!-- Formulaire -->
<app-form />