<section>
  <h1>Le "property binding"</h1>
  <img alt="logo angular" src="favicon.ico">
  <img alt="logo angular" src="assets/demoAngular.png">

  <!-- Avec le property binding -->
  <!-- Property binding : méthode n°1-->
  <img alt="logo angular" src="{{imageSrc}}">

  <!-- Property binding : méthode n°2-->
  <img alt="logo angular" [src]="imageSrc">

  <button [disabled]="buttonDesabled">Mon bouton</button>

  <h1>Le "event binding"</h1>

  <button (click)="handleClick()">Activer le boutton</button>

</section>